<div id="swagger-ui">
    <section data-reactroot="" class="swagger-ui swagger-container">
        <div class="topbar">
            <div class="wrapper">
            </div>
        </div>
        <div class="swagger-ui">
            <div>
                <div class="information-container wrapper">
                    <section class="block col-12">
                        <div>
                            <div class="info">
                                <div class="description">

                                </div>
                                <a class="info__extdocs link" target="_blank" href="" rel="noopener noreferrer"></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div></div>
                <div class="wrapper">
                    <section class="block col-12 block-desktop col-12-desktop">
                        <div>
                            <span>
                                <div class="opblock-tag-section is-open">
                                    <h4 class="opblock-tag no-desc" id="operations-tag-Books" data-tag="Books" data-is-open="true">
                                        <a class="nostyle"><span>Books</span></a><small></small>
                                        <div></div>
                                        <button class="expand-operation" title="Collapse operation">
                                            <svg class="arrow" width="20" height="20">
                                                <use href="#large-arrow-down" xlink:href="#large-arrow-down"></use>
                                            </svg>
                                        </button>
                                    </h4>
                                    <div class="no-margin">
                                        <span>
                                            <div class="opblock opblock-get" id="operations-Books-get_api_v1_Books">
                                                <div class="opblock-summary opblock-summary-get">
                                                    <span class="opblock-summary-method">GET</span><span class="opblock-summary-path" data-path="/api/v1/Books"><a class="nostyle" h href="/api/books"><span>​/api​​/Books</span></a></span>
                                                    <div class="opblock-summary-description"></div>
                                                </div>
                                                <noscript></noscript>
                                            </div>
                                        </span>
                                        <span>
                                            <div class="opblock opblock-post" id="operations-Books-post_api_v1_Books">
                                                <div class="opblock-summary opblock-summary-post">
                                                    <span class="opblock-summary-method">POST</span><span class="opblock-summary-path" data-path="/api/v1/Books"><a class="nostyle"><span>​/api​​/Books</span></a></span>
                                                    <div class="opblock-summary-description"></div>
                                                </div>
                                                <noscript></noscript>
                                            </div>
                                        </span>
                                        <span>
                                            <div class="opblock opblock-get" id="operations-Books-get_api_v1_Books__id_">
                                                <div class="opblock-summary opblock-summary-get">
                                                    <span class="opblock-summary-method">GET</span><span class="opblock-summary-path" data-path="/api/v1/Books/{id}"><a class="nostyle"><span>​/api​​/Books​/{id}</span></a></span>
                                                    <div class="opblock-summary-description"></div>
                                                </div>
                                                <noscript></noscript>
                                            </div>
                                        </span>
                                        <span>
                                            <div class="opblock opblock-put" id="operations-Books-put_api_v1_Books__id_">
                                                <div class="opblock-summary opblock-summary-put">
                                                    <span class="opblock-summary-method">PUT</span><span class="opblock-summary-path" data-path="/api/v1/Books/{id}"><a class="nostyle"><span>​/api​​/Books​/{id}</span></a></span>
                                                    <div class="opblock-summary-description"></div>
                                                </div>
                                                <noscript></noscript>
                                            </div>
                                        </span>
                                        <span>
                                            <div class="opblock opblock-delete" id="operations-Books-delete_api_v1_Books__id_">
                                                <div class="opblock-summary opblock-summary-delete">
                                                    <span class="opblock-summary-method">DELETE</span><span class="opblock-summary-path" data-path="/api/v1/Books/{id}"><a class="nostyle"><span>​/api​​/Books​/{id}</span></a></span>
                                                    <div class="opblock-summary-description"></div>
                                                </div>
                                                <noscript></noscript>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </span>

                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <section class="">
            </section>
        </div>
    </section>
</div>

<script type="text/javascript">

</script>